body {
    background-image: url("http://p1.pichost.me/i/60/1837201.jpg");
    background-color: #cccccc;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;
    font-family: "Verdana", Verdana, sans-serif;
    

}
.textbox {
	margin: auto;
    width: 60%;
    padding: 10px;
    text-align: center;
}

div {
	text-align: center;
}

h1{
	font-size: 60px;
}

h2 {
    font-size: 20px;
   
}

p{
	font-size: 15px;
	font-style: italic;
	
}

ul {
	text-align: center;
}

img {
	margin: 10px 10px;
}